@font-face {
    font-family: 'Cs';
    src: url('../fonts/CloisterBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Camellias';
    src: url('../fonts/CamelliaSignatureDEMO!-DEMO!.otf') format('opentype'),url('../fonts/CamelliaSignatureDEMO!-DEMO!.ttf'),format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Cs', Times, serif;
    font-size: 3em;
    text-align: center;
}

p{
    font-family: 'Camellias';
    font-size: 3em; 
    text-align: center ; 
}

img{
    display: block;
    margin: auto;
}